.Navbar {
    width: 100%;
    background: #8756ca;  
    display: flex;
    justify-content: flex-end;  
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
}

.Navbar-link {
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: auto;
    padding: .2em .5em;
}

.Navbar-link p {
    cursor: pointer;
    margin-right: 1em;
}

