.Podcast {
    display: flex;
    text-decoration: none;
    color: #333;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.Podcast:hover {
    color: #000;
}

.Podcast h4 {
    margin: 0;
    font-size: 1em;
}

.Podcast p {
    color: #666;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 0.8em;
}

.Podcast-details {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



